@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
.title {
    font-size: 500%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    color: 	#3e3e3e;
}

.desc {
    font-size: 200%;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: 	#424242;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

.button:active {
    background: white;
    color: #424242;
}    

.txtinput {
    border: none;
    border: solid 1px white;
    border-radius: 30px;
    width: 500px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    box-sizing:border-box;
}

.wordlimit {
    border: none;
    border: solid 1px white;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 200px;
    height: 50px;
}

.button {
    border: none;
    border: solid 1px #e2e1d6;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.endboard {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10vh;
    border: none;
    border: solid 1px #e2e1d6;
    border-radius: 30px;
    background-color: white;
    width: 90%;
    height: 800px;
    font-family: 'Josefin Sans', sans-serif;

}